<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539776558313-jd2dv49r3i3r4g0ia27iasi7cd9o814b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539776558313-jd2dv49r3i3r4g0ia27iasi7cd9o814b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>539776558313-bqaj1pqrinar0ce138l6n6316hre0apf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPMhEPIkNWUAukKaDTISDVXjjpPItMMKs</string>
	<key>GCM_SENDER_ID</key>
	<string>539776558313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artfroscenticstudios.app</string>
	<key>PROJECT_ID</key>
	<string>artfro-scentric-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>artfro-scentric-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539776558313:ios:02d29a18112e168414bc78</string>
</dict>
</plist>